
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* 1 rem = 10px */
html {
    font-size: 62.5%;   
}

body {
    box-sizing: border-box;
}

:root {
    --primary-color: #87cccc;
    --white-color: #fff;
    --black-color: 0, 0, 0;
    --grey-color: #333;
    --box-shadow-small: rgba(0,0,0, .2);
}


.header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    justify-content: space-around;}
    .logo-box {
        display: inline-block;
        padding: 3rem 3rem;}
        .header-logo {
            display: inline-block;
            height: 7.3rem;
        }
    
    .navigation {
        position: relative;
        z-index: 1000;}
        .navigation-checkbox {
                display: none;}
        .navigation-button{
            background-color: var(--white-color);
            height: 7.5rem;
            width: 7.5rem;
            position: relative;
            display: block;
            border-radius: 50%;
            z-index: 1002;
            box-shadow: 0 1rem 3rem var(--box-shadow-small);
            text-align: center;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);}
            .navigation-icon {
                position: relative;
                margin-top: 3.5rem;}
            .navigation-icon, .navigation-icon::before, .navigation-icon::after {
                width: 3rem;
                height: 3px;
                background-color: var(--grey-color);
                display: inline-block;
                transition: all .2s;}
            .navigation-icon::before, .navigation-icon::after {
                content: "";
                position: absolute;
                left: 0;}
            .navigation-icon::before {top: -.8rem;}
            .navigation-icon::after {top: .8rem;}
        /* BUTTON ANIMATION */
        .navigation-button:hover .navigation-icon::before {top: -1rem;}
        .navigation-button:hover .navigation-icon::after {top: 1rem;}
        .navigation-checkbox:checked ~ .navigation-button .navigation-icon {
            background-color: transparent;}
        .navigation-checkbox:checked ~ .navigation-button .navigation-icon::before {
            transform: rotate(135deg);
            top: 0;}
        .navigation-checkbox:checked ~ .navigation-button .navigation-icon::after {
            transform: rotate(-135deg);
            top: 0;}    
        .navigation-background {
            top: 50%;
            height: 7.5rem;
            width: 7.5rem;
            display: block;
            position: absolute;
            z-index: 1000;
            border-radius: 50%;
            background-image: radial-gradient(var(--white-color), var(--primary-color));
            transform: translateY(-50%);
            transition: transform .8s cubic-bezier(.09,.69,.57,1.03);}
        .navigation-nav {
            position: fixed;
            height: 100vh;
            top: 0;
            right: 0;
            z-index: 1001;
            width: 0;
            opacity: 0;
            transition: opacity .8s;}
            /* MENU */
            .navigation-list {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                list-style: none;
                text-align: center;
                width: 100%;}
                .navigation-link:link, .navigation-link:visited {
                    display: inline-block;
                    font-size: 3rem;
                    font-weight: 300;
                    padding: 1rem 2rem;
                    color: var(--grey-color);
                    text-decoration: none;
                    text-transform: uppercase;
                    padding-top: 1rem;
                    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--white-color) 50%);
                    background-size: 230%;
                    transition: all .4s;}
                .navigation-link span {margin-right: 1rem;
                    display: inline-block;}
                .navigation-link:hover, .navigation-link:active {
                    transform: translateX(1rem);
                    box-shadow: 0 1rem 2rem var(--box-shadow-small);
                    color: var(--primary-color);}
            /* MENU FUNCTIONALITY */
            .navigation-checkbox:checked ~ .navigation-background {
                transform: scale(80);}
            .navigation-checkbox:checked ~ .navigation-nav {
                width: 100%;
                opacity: 1;}
