
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* 1 rem = 10px */
html {
    font-size: 62.5%;   
}

body {
    box-sizing: border-box;
}

h2, h3, h4, h5 ,h6 {font-family: 'Poppins', sans-serif;}
p {font-family: Georgia, 'Times New Roman', Times, serif;}

:root {
    --primary-color: #87cccc;
    --white-color: #fff;
    --black-color: 0, 0, 0;
    --grey-color: #333;
    --box-shadow-small: rgba(0,0,0, .2);
    --box-shadow-medium: rgba(0,0,0, .4);
}




.header {
    display: flex;
    position: fixed;
    width: 100%;
    background-image: linear-gradient( to bottom right, #84ACD9, #84D9A9);
    justify-content: space-around;}
    .logo-box {
        display: inline-block;
        padding: 3rem 3rem;}
        .header-logo {
            display: inline-block;
            height: 7.3rem;
        }
    
    .navigation {
        position: relative;
        z-index: 1000;}
        .navigation-checkbox {
                display: none;}
        .navigation-button{
            background-color: var(--white-color);
            height: 7.5rem;
            width: 7.5rem;
            position: relative;
            display: block;
            border-radius: 50%;
            z-index: 1002;
            box-shadow: 0 1rem 3rem var(--box-shadow-small);
            text-align: center;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);}
            .navigation-icon {
                position: relative;
                margin-top: 3.5rem;}
            .navigation-icon, .navigation-icon::before, .navigation-icon::after {
                width: 3rem;
                height: 3px;
                background-color: var(--grey-color);
                display: inline-block;
                transition: all .2s;}
            .navigation-icon::before, .navigation-icon::after {
                content: "";
                position: absolute;
                left: 0;}
            .navigation-icon::before {top: -.8rem;}
            .navigation-icon::after {top: .8rem;}
        /* BUTTON ANIMATION */
        .navigation-button:hover .navigation-icon::before {top: -1rem;}
        .navigation-button:hover .navigation-icon::after {top: 1rem;}
        .navigation-checkbox:checked ~ .navigation-button .navigation-icon {
            background-color: transparent;}
        .navigation-checkbox:checked ~ .navigation-button .navigation-icon::before {
            transform: rotate(135deg);
            top: 0;}
        .navigation-checkbox:checked ~ .navigation-button .navigation-icon::after {
            transform: rotate(-135deg);
            top: 0;}    
        .navigation-background {
            top: 50%;
            height: 7.5rem;
            width: 7.5rem;
            display: block;
            position: absolute;
            z-index: 1000;
            border-radius: 50%;
            background-image: radial-gradient(#84ACD9, #84D9A9);
            transform: translateY(-50%);
            transition: transform .8s cubic-bezier(.09,.69,.57,1.03);}
        .navigation-nav {
            position: fixed;
            height: 100vh;
            top: 0;
            right: 0;
            z-index: 1001;
            width: 0;
            opacity: 0;
            transition: opacity .8s;}
            /* MENU */
            .navigation-list {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                list-style: none;
                text-align: center;
                width: 100%;}
                .navigation-link:link, .navigation-link:visited {
                    display: inline-block;
                    font-size: 3rem;
                    font-weight: 300;
                    padding: 1rem 2rem;
                    color: var(--grey-color);
                    text-decoration: none;
                    text-transform: uppercase;
                    padding-top: 1rem;
                    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--white-color) 50%);
                    background-size: 230%;
                    transition: all .4s;}
                .navigation-link span {margin-right: 1rem;
                    display: inline-block;}
                .navigation-link:hover, .navigation-link:active {
                    transform: translateX(1rem);
                    box-shadow: 0 1rem 2rem var(--box-shadow-small);
                    color: var(--white-color);}
            /* MENU FUNCTIONALITY */
            .navigation-checkbox:checked ~ .navigation-background {
                transform: scale(80);}
            .navigation-checkbox:checked ~ .navigation-nav {
                width: 100%;
                opacity: 1;}

.title {
    text-align: center;
    background-image: url("/css/images/title-back.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 31rem 0;}
    .title-h1 {
        font-size: 12rem;
        font-family: 'Dancing Script', cursive;
        line-height: 19rem;
        text-align: center;
        color: var(--white-color);
        text-shadow:var(--box-shadow-medium) 0px 4px 5px;}
    .title-h2 {
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 3.5px;
        line-height: 4.2rem;
        text-align: center;
        color: var(--white-color);
        text-shadow:var(--box-shadow-medium) 0px 4px 5px;}

.postulat {
    text-align: center;
    background-image: url("/css/images/postulat.jpg");
    background-attachment: fixed;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;}
    .postulat-title {
        font-size: 4.2rem;
        font-weight: 700;
        color: var(--white-color);
        text-shadow: var(--box-shadow-medium) 0px 4px 5px;}
    .postulat-flex {
        padding-top: 7rem;
        display: flex;
        justify-content: space-around;
        max-width: 120rem;
        margin: 0 auto;}
        .postulat-card{
            max-width: 30rem;
            padding: 1.5rem;
            background-color: rgba(0,0,0, .4);
            border-radius: 3rem;
            color: var(--white-color);
            transition: all .3s;}
        .postulat-card:hover {
            background-color: rgba(0,0,0, .7);
            box-shadow: 0 2rem 3rem var(--box-shadow-medium);}
            .postulat-header{
                padding-bottom: 3.5rem;
                font-size: 2.5rem;
                letter-spacing: 2.5px;
                line-height: 1.2em;
                font-weight: 700;}
            .postulat-text{
                font-size: 2.2rem;
                line-height: 1.5em;
                font-weight: 500;
                letter-spacing: normal;}
.text{
    padding: 7rem 0;
    text-align: center;}
    .text-box {
        max-width: 60rem;
        margin: 0 auto;}
        .text-1{
            font-size: 2.4rem;
            padding-bottom: 3.5rem;
            line-height: 3.3rem;}
        .text-2{
            font-size: 2.2rem;
            line-height: 3.6rem;
            font-weight: bold;}

.text-primary {
    padding: 5rem 0;
    text-align: center;
    background-image: linear-gradient( to bottom right, #84ACD9, #84D9A9);}
    .text-primary-heading {
        font-size: 4.2rem;
    }